.tile{
    width: 30px;
    height: 30px;
}
.rowCoordiantes{
    width: 323px;
    height: 30px;
}
.colCoordinates{
    width: 35px;
    height: 300px;
}
.cornerTile{
    width: 25px;
    height: 30px;
}
.board{
    width: 320;
    height: auto;
}
body{
    background-color: darkcyan;
}