.tile{
    width: 50px;
    height: 50px;
}
.rowCoordiantes{
    width: 500px;
    height: 35px;
}
.colCoordinates{
    width: 35px;
    height: 500px;
}
.cornerTile{
    width: 50px;
    height: 20px;
}
body{
    background-color: darkcyan;
}